#
/config/parameters.yml

# bin
/bin/*
!/bin/console
!/bin/console.php
!/bin/websiteconsole
!/bin/adminconsole
!/bin/symfony_requirements

# var
/var/*
!/var/.gitkeep

# web
/public/bundles
/public/uploads
/public/admin/translations/*
!/public/admin/translations/.gitkeep

# composer
/composer.phar
composer.lock
/vendor

# npm
package-lock.json
/node_modules

# phpunit
.phpunit
/phpunit.xml

# IDEs
/.idea
*.iml
*~
.web-server-pid

# System files
.DS_Store
